<h4 class="PageTitle">About Me</h4>
<p class="GeneralContent" style="padding-top:2em; text-align: center;">
I'm a 22 year old aspiring software engineer. I've been programming casually over
7 years and I'm currently focusing on Rails based web development.
</p>
<h5 class="ParagraphHeading">Skills and Qualifications:</h5>
<p class="GeneralContent">
Over the past few years I've learned a variety of different technologies and
programming languages, and have completed projects ranging from low-level assembly programs all the way
up to advanced financial modeling applications and websites. An overview of my skill set,
qualifications, and relevant experience is available here: <%= link_to "My Resume", "/resources/file.pdf" %>
</p>
<h5 class="ParagraphHeading">About This Site:</h5>
<p class="GeneralContent">
This website is my first major venture into Ruby on Rails development.
I'm using HTML5 for content, CSS3 for most of the presentation, along with jQuery; which
is primarily used for behavioral aspects of the site. Nothing too fancy yet, but I'm planning
on growing the site and adding some additional functionality over time. Stay tuned!</p>
<h5 class="ParagraphHeading">Connect With Me:</h5>
<div id="NetworkingLinks">
<ul id="NetworkingList">
  <li><a href="https://www.facebook.com/brad.paskewitz.1"><img src="/images/fb_logo.png" alt="Facebook" style="width:35px; color:white;" /></a></li>
  <li><a href="https://plus.google.com/106721357554685357197"><img src="/images/googleplus_logo.png" alt="Google+" style="width:35px; color:white;" /></a></li>
  <li><a href="http://www.linkedin.com/pub/brad-paskewitz/45/46a/bb7"><img src="/images/linkedin_logo.png" alt="LinkedIn" style="width:35px; color:white;" /></a></li>
</ul>
</div>
