<h4 class="PageTitle">Contact Info</h4>
<p class="GeneralContent" style="padding-top:2em;">I am always interested in new projects and employment opportunities. If you
have questions about anything on this website, or for professional inquiries, please don't hesitate
to reach out. All responses will be promptly answered. Thank you for your interest.</p>
<p class="GeneralContent" style="padding-top:2em;">
  1537 7th Street <br/>
  Apt. 403 <br/>
  Santa Monica, Ca, 90401 <br/>
  Phone: (609)731-8820<br/>
  Email: <a href="mailto:<%=EMAIL%>">Brad Paskewitz</a><br/>
</p>
